/* UI */

.ui {
  padding: 40px;
}

.ui-header {
  margin-bottom: 40px;

  font-size: 42px;
}

.ui-header-2 {
  margin-bottom: 40px;

  font-size: 32px;
}

ul.ui-list {
  padding-left: 25px;

  font-size: 18px;
}

ul.ui-list li {
  margin-bottom: 10px;

  list-style-type: disc;
}

ul.ui-list a {
  color: #138ece;
}
